body {
  font-family: Arial, sans-serif;
  background-color: #eef3f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.container {
  width: 80%;
  max-width: 700px; 
  background: white;
  margin-top: 40px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-wrap: wrap; /* Quebra linha se necessário */
  gap: 15px;
  justify-content: space-between; /* alinha itens em um contêiner flexível */
}

/* Agrupamento de cada campo do formulário */
.input-group {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

/* Texto do rótulo */
label {
  margin-bottom: 4px;
  font-weight: bold;
  color: #444;
}

/* texto e número */
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Botão de envio */
button {
  flex: 1 1 100%;
  padding: 10px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005ec4;
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove espaços entre bordas */
  margin-top: 20px;
}

/* Estilo das células */
th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Linha de separação */
}

/* Cabeçalho da tabela */
th {
  background-color: #0078ff;
  color: white;
}

.erro-servidor {
  background: #ffdddd; /* Fundo vermelho claro */
  color: #b30000; /* Texto vermelho escuro */
  border: 1px solid #b30000;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  text-align: center;
}